/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
body {
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Raleway", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

.banner {
  background: url("assets/CAPA_PRINCIPAL.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.banner header {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.banner header nav a {
  text-decoration: none;
  padding: 0 10px;
  color: white;
  font-size: 20px;
  text-shadow: 0px 0px 15px #00000052;
}

.banner header .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.banner .waves {
  position: absolute;
  bottom: 0;
  bottom: -5px;
  left: -9px;
  width: 100vw;
}

.banner .waves img {
  width: 101%;
}

.banner .button-down {
  width: 60px;
  display: block;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 16px;
}

.title {
  font-size: 40px;
  color: #2E2320;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  color: #2E2320;
  line-height: 23px;
}

.section {
  padding: 120px 0;
}

.center {
  text-align: center;
}

.about {
  padding-bottom: 90px;
}

.about .frase {
  margin-top: 90px;
}

.about .frase img {
  max-width: 100%;
}

.about .fotos-clinica {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1183px;
  gap: 30px;
  margin-top: 150px;
  min-height: 555px;
}

.about .fotos-clinica .clinica-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.about .fotos-clinica .clinica-item .image {
  position: relative;
  display: block;
  width: 100%;
  opacity: 0.7;
}

.about .fotos-clinica .clinica-item .label {
  font-size: 20px;
  padding: 2px 14px;
  border-radius: 40px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: block;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 27px;
  font-weight: 500;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.733);
}

.about .fotos-clinica .clinica-item.active {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
}

.about .fotos-clinica .clinica-item.active .image {
  opacity: 1;
}

.about .fotos-clinica img {
  width: 100%;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .container .left-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .container .right-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about .container .right-side .title {
  text-align: left;
}

.about .container .right-side .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 15px;
}

.about .container .right-side .buttons a {
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 10px 15px;
  border-radius: 2px;
  background-color: #111111;
}

.our-team {
  padding-top: 0;
}

.our-team .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.our-team .team .person {
  padding: 0 25px;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-team .team .person h3 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.our-team .team .person p {
  font-size: 16px;
  line-height: 23px;
  color: #4E4D52;
}

.clinic {
  background: url("assets/bg-sobre.png");
  background-color: #F6F6F6;
  background-size: cover;
  background-repeat: no-repeat;
}

.clinic .info-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

.clinic .info-1 .left-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clinic .info-1 .right-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.clinic .divider {
  margin: 0 auto;
  display: block;
  width: 700px;
  height: 1px;
  border-bottom: 1px solid #7070705b;
  margin-top: 70px;
  margin-bottom: 70px;
}

.clinic .info-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 auto;
  max-width: 900px;
}

.clinic .info-2 .title {
  text-align: center;
}

.clinic .info-2 .right-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clinic .info-2 .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-left: 20px;
}

.clinic .info-2 .cards .card {
  padding: 30px 25px;
  background-color: rgba(255, 255, 255, 0.363);
  border-radius: 7px;
  margin-right: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0px 3px 6px #373f7e0c;
          box-shadow: 0px 3px 6px #373f7e0c;
}

.clinic .info-2 .cards .card h3 {
  font-weight: bold;
  color: #271D1B;
  margin-bottom: 15px;
}

.clinic .info-2 .cards .card p {
  color: #271D1B;
  font-size: 16px;
  line-height: 30px;
}

.clinic .info-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 15px 0 10px;
  margin: 0 auto;
  max-width: 900px;
}

.clinic .info-3 .image {
  position: relative;
}

.clinic .info-3 .image .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 5px 7px;
  background: white;
  border-radius: 8px;
  font-weight: bold;
  position: absolute;
  bottom: 30px;
  left: 30px;
  cursor: pointer;
  color: #886e62;
  -webkit-box-shadow: 0px 3px 6px #373f7e18;
  box-shadow: 0px 3px 6px #373f7e18;
}

.clinic .info-3 .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.clinic .info-3 p {
  font-size: 16px;
  line-height: 30px;
}

.clinic .info-3 .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 40px;
  padding: 30px 36px;
  background-color: rgba(255, 255, 255, 0.363);
  border-radius: 7px;
  flex: 1;
  -webkit-box-shadow: 0px 3px 6px #373f7e0c;
          box-shadow: 0px 3px 6px #373f7e0c;
}

.clinic .info-3 .info .title {
  font-size: 18px;
  text-align: left;
}

.topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.topic img {
  margin-top: 11px;
}

.mentoria .subtitle {
  text-align: center;
  margin-top: 40px;
}

.mentoria .about-mentoria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mentoria .about-mentoria .logo-mentoria {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  display: block;
}

.mentoria .about-mentoria .logo-mentoria img {
  max-width: 80%;
  margin: 0 auto;
  width: 100%;
  display: block;
}

.mentoria .about-mentoria .mentoria-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mentoria .about-mentoria .mentoria-info p {
  text-align: left;
  padding-right: 80px;
}

.mentoria .title2 {
  margin: 60px 0;
}

.mentoria .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mentoria .services .service {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.mentoria .services .service img {
  max-width: 387px;
}

.partners {
  background: #f4f4f4;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(white));
  background: linear-gradient(180deg, #f4f4f4 0%, white 100%);
  position: relative;
}

.partners .seta {
  width: 74px;
  display: block;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
}

.partners .partners-container {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners .mentoria-contact {
  max-width: 790px;
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  padding: 40px 0;
}

.partners .mentoria-contact .title {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.partners .mentoria-contact a {
  display: block;
  background-color: #111111;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  font-weight: bold;
  color: white;
  font-size: 22px;
  margin-top: 25px;
  border-radius: 2px;
  padding: 10px 15px;
}

.our-insta {
  background: url("assets/grey-paper-texture.png");
}

.our-insta .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-insta .left-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  max-width: 65%;
}

.our-insta .left-side img {
  max-width: 100%;
}

.our-insta .right-side {
  padding-left: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.our-insta .right-side h3 {
  color: #4E4D52;
  font-size: 40px;
  font-weight: bold;
}

.our-insta .right-side .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 15px;
  margin: 20px 0;
}

.our-insta .right-side .social-media p {
  font-size: 25px;
  color: #4E4D52;
}

.news {
  background: url("assets/NEWS.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.news .subtitle {
  text-align: center;
  margin-bottom: 40px;
}

.news .view-more {
  display: block;
  text-align: center;
  background: #271D1B;
  max-width: 120px;
  margin: 23px auto;
  padding: 12px 0;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.news .news-box {
  background: white;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 6px #373f7e2a;
          box-shadow: 0px 3px 6px #373f7e2a;
  gap: 15px;
}

.news .news-box h3 {
  font-size: 30px;
  font-weight: bold;
  color: #271D1B;
  margin-bottom: 20px;
}

.news .news-box .date {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.news .news-box span {
  display: block;
}

.news .news-box p {
  font-size: 20px;
  max-width: 370px;
  display: block;
  margin-bottom: 30px;
}

.news .news-box a {
  text-decoration: none;
  font-size: 20px;
  color: #271D1B;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mapa {
  background: url("assets/bg-brown.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.mapa .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mapa .container .right-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mapa .container .right-side img {
  display: block;
  max-width: 100%;
}

.mapa .container .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 60px;
}

.mapa .container .title-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.mapa .container .title-icon h2 {
  margin: 0;
  color: white;
}

.mapa .container p {
  color: white;
  margin-top: 7px;
  padding-left: 40px;
  line-height: 25px;
  font-size: 20px;
}

.contact {
  background-image: url(assets/banner-bg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}

.contact .subtitle {
  text-align: center;
}

.contact .form-box {
  position: relative;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  background: white;
  border-radius: 29px;
  margin-top: 40px;
}

.contact .form-box .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.contact .form-box .checkbox input {
  width: 30px;
}

.contact .form-box .checkbox b a {
  font-weight: bold;
  color: #7C6B61;
}

.contact .form-box .popup {
  position: absolute;
  top: 0;
  width: 90%;
  height: 100%;
  background: #ffffffc2;
}

.contact .form-box img {
  max-width: 310px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 260px;
}

.contact .form-box h3 {
  font-size: 28px;
  color: #252525;
  font-weight: 900;
}

.contact .form-box h3::after {
  content: "";
  display: block;
  width: 90px;
  height: 5px;
  background: #7C6B61;
  border-radius: 40px;
  margin-top: 6px;
  margin-bottom: 40px;
}

.contact .form-box input,
.contact .form-box select {
  padding: 14px 18px;
  border-radius: 13px;
  border: 1px solid #c2c2c2;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #4f514f;
  margin: 15px 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact .form-box input::-webkit-input-placeholder,
.contact .form-box select::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4f514f;
  opacity: 1;
  /* Firefox */
}

.contact .form-box input:-ms-input-placeholder,
.contact .form-box select:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4f514f;
  opacity: 1;
  /* Firefox */
}

.contact .form-box input::-ms-input-placeholder,
.contact .form-box select::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4f514f;
  opacity: 1;
  /* Firefox */
}

.contact .form-box input::placeholder,
.contact .form-box select::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4f514f;
  opacity: 1;
  /* Firefox */
}

.contact .form-box input:focus,
.contact .form-box select:focus {
  outline: none;
  border: 1px solid #7C6B61;
}

.contact .form-box select::-ms-expand {
  display: none;
}

.contact .form-box select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.contact .form-box textarea {
  padding: 14px 18px;
  border-radius: 13px;
  border: 1px solid #c2c2c2;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
  font-family: "Montserrat", sans-serif;
  height: 150px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  resize: none;
}

.contact .form-box textarea::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #252525 !important;
  opacity: 1;
  /* Firefox */
}

.contact .form-box textarea:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #252525 !important;
  opacity: 1;
  /* Firefox */
}

.contact .form-box textarea::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #252525 !important;
  opacity: 1;
  /* Firefox */
}

.contact .form-box textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #252525 !important;
  opacity: 1;
  /* Firefox */
}

.contact .form-box textarea:focus {
  outline: none;
  border: 1px solid #7C6B61;
}

.contact .form-box button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 0;
  border: 0;
  border-radius: 12px;
  margin-top: 30px;
  background: #7C6B61;
  color: white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .form-box button:hover {
  background: #7C6B61;
}

footer {
  background: url("assets/bg-brown.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  color: white;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}

footer .container h3 {
  font-size: 20px;
  font-weight: 500;
  padding-left: 35px;
}

footer .left-side .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin: 20px 0;
}

footer .left-side .social-media p {
  font-size: 25px;
  color: white;
}

footer .right-side {
  padding-left: 30px;
}

footer .right-side .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin: 20px 0;
}

footer .right-side .social-media p {
  font-size: 25px;
  color: white;
}

.bevel {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.bevel img {
  width: 70px;
}

.developer {
  background: url("assets/bg-brown.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
}

.developer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.developer .container .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.developer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.developer .social-media .logo {
  margin-right: 10px;
}

.developer .social-media a {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.developer .social-media a img {
  width: 100%;
  display: block;
  height: 30px;
}

.developer .social-media .phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.developer .social-media .phones a {
  display: block;
  width: 100%;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat';
}

.developer .social-media .linkedin {
  position: relative;
  top: -3px;
}

.developer .social-media .eightsix img {
  width: 86%;
}
/*# sourceMappingURL=style.css.map */