/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

body {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Raleway", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
}

.banner {
    background: url("assets/CAPA_PRINCIPAL.png");
    height: 100vh;

    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

    header {
        padding: 60px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            display: flex;
            gap: 5px;

            a {
                text-decoration: none;
                padding: 0 10px;
                color: white;
                font-size: 20px;
                text-shadow: 0px 0px 15px #00000052;
            }
        }

        .social-media {
            display: flex;
            gap: 20px;

        }
    }

    .waves {
        position: absolute;
        bottom: 0;
        bottom: -5px;
        left: -9px;
        width: 100vw;

        img {
            width: 101%;
        }
    }

    .button-down {
        width: 60px;
        display: block;
        margin: 0 auto;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 16px;
    }
}

.title {
    font-size: 40px;
    color: #2E2320;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.subtitle {
    font-size: 18px;
    color: #2E2320;
    line-height: 23px;
}

.section {
    padding: 120px 0;
}

.center {
    text-align: center;
}

.about {
    padding-bottom: 90px;

    .frase {
        margin-top: 90px;

        img {
            max-width: 100%;
        }
    }

    .fotos-clinica {
        justify-content: center;
        max-width: 1183px;
        gap: 30px;
        margin-top: 150px;
        min-height: 555px;

        .clinica-item {
            flex: 1;
            align-items: center;
            display: flex;
            transition: 0.4s;

            .image {
                position: relative;
                display: block;
                width: 100%;
                opacity: 0.7;
            }

            .label {
                font-size: 20px;
                padding: 2px 14px;
                border-radius: 40px;
                max-width: max-content;

                display: block;
                margin: 0 auto;
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                bottom: 27px;
                font-weight: 500;
                font-size: 20px;
                background-color: rgba(255, 255, 255, 0.733);
            }

            &.active {
                flex: 0 0 36%;

                .image {
                    opacity: 1;
                }
            }
        }

        img {
            width: 100%;
        }
    }

    .container {
        display: flex;



        .left-side {
            flex: 0 0 50%;
            display: flex;
            justify-content: center;
        }

        .right-side {
            flex: 0 0 50%;
            padding: 0 25px;

            display: flex;

            flex-direction: column;
            align-items: flex-start;

            .title {
                text-align: left;
            }

            .buttons {
                display: flex;
                gap: 20px;
                width: 100%;
                margin-top: 15px;

                a {
                    font-size: 18px;
                    font-weight: 500;
                    color: white;
                    padding: 10px 15px;
                    border-radius: 2px;
                    background-color: #111111;

                }
            }
        }
    }
}

.our-team {
    padding-top: 0;

    .team {
        display: flex;
        margin-top: 60px;

        .person {
            padding: 0 25px;
            text-align: center;
            flex: 0 0 33.33%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-size: 20px;
                margin-top: 15px;
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                line-height: 23px;
                color: #4E4D52;
            }
        }
    }

}

.clinic {
    background: url("assets/bg-sobre.png");
    background-color: #F6F6F6;
    background-size: cover;
    background-repeat: no-repeat;

    .info-1 {
        display: flex;
        justify-content: center;
        margin-top: 70px;

        .left-side {
            flex: 0 0 40%;
            display: flex;
            justify-content: center;
        }

        .right-side {
            flex: 0 0 35%;

            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;

        }



    }

    .divider {
        margin: 0 auto;
        display: block;
        width: 700px;
        height: 1px;
        border-bottom: 1px solid #7070705b;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .info-2 {
        display: flex;
        justify-content: center;
        flex: 1;

        margin: 0 auto;

        .title {
            text-align: center;
        }


        max-width: 900px;

        .right-side {
            flex: 1;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cards {
            display: flex;
            margin: 0 auto;
            margin-left: 20px;

            .card {
                padding: 30px 25px;
                background-color: rgba(255, 255, 255, 0.363);
                border-radius: 7px;
                margin-right: 15px;
                flex: 1;
                box-shadow: 0px 3px 6px #373f7e0c;

                h3 {
                    font-weight: bold;
                    color: #271D1B;
                    margin-bottom: 15px;
                }

                p {
                    color: #271D1B;
                    font-size: 16px;
                    line-height: 30px;
                }
            }
        }
    }

    .info-3 {
        display: flex;
        justify-content: center;
        flex: 1;
        flex-direction: column;
        padding: 40px 15px 0 10px;
        margin: 0 auto;
        max-width: 900px;

        .info-container {
            display: flex;
            gap: 20px;
        }

        p {
            font-size: 16px;
            line-height: 30px;
        }

        .info {
            flex: 1;

            .title {
                font-size: 18px;
                text-align: left;
            }


            margin-top: 40px;
            padding: 30px 36px;
            background-color: rgba(255, 255, 255, 0.363);
            border-radius: 7px;
            flex: 1;
            box-shadow: 0px 3px 6px #373f7e0c;
        }
    }
}

.topic {
    display: flex;
    gap: 10px;
    align-items: flex-start;

    img {
        margin-top: 11px;
    }
}


.mentoria {
    .subtitle {
        text-align: center;
        margin-top: 40px;
    }

    .about-mentoria {
        display: flex;

        .logo-mentoria {
            flex: 0 0 50%;
            max-width: 50%;
            display: block;

            img {
                max-width: 80%;
                margin: 0 auto;
                width: 100%;
                display: block;
            }
        }

        .mentoria-info {
            flex: 0 0 50%;
            align-items: center;
            display: flex;

            p {
                text-align: left;
                padding-right: 80px;
            }
        }
    }

    



    .title2 {
        margin: 60px 0;
    }

    .services {
        display: flex;
        flex-wrap: wrap;

        .service {
            img {
                max-width: 387px;
            }

            flex: 0 0 33.33%;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }
    }
}

.partners {
    background: rgb(244,244,244);
    background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
    position: relative;

    .seta {
        width: 74px;
        display: block;
        margin: 0 auto;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        top: 0;
    }

    .partners-container {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        gap: 40px;
        align-items: center;
    }

    .mentoria-contact {

        max-width: 790px;
        display: block;
        margin: 0 auto;
        margin-top: 90px;

        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
        padding: 40px 0;

        .title {
            max-width: 600px;
            display: block;
            margin: 0 auto;
        }

        a {
            display: block;
            background-color: #111111;
            max-width: max-content;
            margin: 0 auto;
            font-weight: bold;
            color: white;
            font-size: 22px;
            margin-top: 25px;
            border-radius: 2px;
            padding: 10px 15px;
        }
    }
}

.our-insta {
    background: url("assets/grey-paper-texture.png");

    .container {
        display: flex;
        align-items: center;
    }

    .left-side {
        flex: 0 0 65%;
        max-width: 65%;

        img {
            max-width: 100%;
        }
    }

    .right-side {
        padding-left: 30px;
        flex: 1;

        h3 {
            color: #4E4D52;
            font-size: 40px;
            font-weight: bold;
        }

        .social-media {
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 20px 0;

            p {
                font-size: 25px;
                color: #4E4D52;
            }
        }
    }
}

.news {
    background: url("assets/NEWS.svg");
    background-repeat: no-repeat;
    background-position: center;

    .subtitle {
        text-align: center;
        margin-bottom: 40px;
    }

    .view-more {
        display: block;
        text-align: center;
        background: #271D1B;
        max-width: 120px;
        margin: 23px auto;
        padding: 12px 0;
        border-radius: 7px;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    .news-box {
        background: white;
        max-width: max-content;
        border-radius: 13px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0px 3px 6px #373f7e2a;

        gap: 15px;

        h3 {
            font-size: 30px;
            font-weight: bold;
            color: #271D1B;
            margin-bottom: 20px;
        }

        .date {
            gap: 10px;

            display: flex;
            align-items: center;

            margin-bottom: 30px;
        }

        span {
            display: block;
        }

        p {
            font-size: 20px;
            max-width: 370px;
            display: block;
            margin-bottom: 30px;
        }

        a {
            text-decoration: none;
            font-size: 20px;
            color: #271D1B;
            gap: 10px;

            display: flex;
            align-items: center;
        }
    }
}

.mapa {
    background: url("assets/bg-brown.png");
    background-size: cover;
    background-repeat: no-repeat;

    .container {
        display: flex;
        justify-content: center;

        .right-side {
            flex: 1;

            img {
                display: block;
                max-width: 100%;
            }
        }

        .left-side {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0 60px;
        }

        .title-icon {
            display: flex;
            align-items: center;
            gap: 15px;

            h2 {
                margin: 0;
                color: white;
            }
        }

        p {
            color: white;
            margin-top: 7px;
            padding-left: 40px;
            line-height: 25px;
            font-size: 20px;
        }
    }
}


.contact {
    background-image: url(assets/banner-bg.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0;

    .subtitle {
        text-align: center;
    }

    .form-box {
        position: relative;

        .checkbox {
            display: flex;
            align-items: center;
            margin-top: 10px;

            input {
                width: 30px;
            }

            b {
                a {
                    font-weight: bold;
                    color: #7C6B61;
                }

            }

        }

        .popup {
            position: absolute;
            top: 0;
            width: 90%;
            height: 100%;
            background: #ffffffc2;
        }

        img {
            max-width: 310px;
            display: block;
            margin: 0 auto;
            position: relative;
            top: 260px;
        }

        h3 {
            font-size: 28px;
            color: #252525;
            font-weight: 900;

            &::after {
                content: "";
                display: block;
                width: 90px;
                height: 5px;
                background: #7C6B61;
                border-radius: 40px;
                margin-top: 6px;
                margin-bottom: 40px;
            }
        }

        max-width: 600px;
        display: block;
        margin: 0 auto;
        background: white;
        border-radius: 29px;
        margin-top: 40px;

        input,
        select {
            padding: 14px 18px;
            border-radius: 13px;
            border: 1px solid #c2c2c2;
            width: 100%;
            display: block;
            box-sizing: border-box;
            color: #4f514f;
            margin: 15px 0;
            transition: all 0.2s ease-in-out;

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #4f514f;
                opacity: 1;
                /* Firefox */
            }

            &:focus {
                outline: none;

                border: 1px solid #7C6B61;
            }
        }

        select::-ms-expand {
            display: none;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }

        textarea {
            padding: 14px 18px;
            border-radius: 13px;
            border: 1px solid #c2c2c2;
            width: 100%;
            display: block;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: black;
            font-family: "Montserrat", sans-serif;
            height: 150px;
            transition: all 0.2s ease-in-out;
            resize: none;

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #252525 !important;
                opacity: 1;
                /* Firefox */
            }

            &:focus {
                outline: none;

                border: 1px solid #7C6B61;
            }
        }

        button {
            width: 100%;
            display: flex;
            padding: 18px 0;
            border: 0;
            border-radius: 12px;
            margin-top: 30px;
            background: #7C6B61;
            color: white;
            font-weight: bold;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            gap: 10px;
            justify-content: center;
            align-items: center;

            &:hover {
                background: #7C6B61;
            }
        }
    }
}

footer {
    background: url("assets/bg-brown.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;

    color: white;

    .container {
        display: flex;
        justify-content: center;
        gap: 60px;

        h3 {
            font-size: 20px;
            font-weight: 500;
            padding-left: 35px;
        }
    }

    .left-side {
        .social-media {
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 20px 0;

            p {
                font-size: 25px;
                color: white;
            }
        }
    }

    .right-side {
        padding-left: 30px;

        .social-media {
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 20px 0;

            p {
                font-size: 25px;
                color: white;
            }
        }
    }
}

.bevel {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 70px;
    }

}

.developer {
    background: url("assets/bg-brown.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;



    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;

        .left-side {
            display: flex;
            align-items: center;
            gap: 40px;


        }
    }

    .social-media {
        display: flex;
        gap: 20px;

        .logo {
            margin-right: 10px;
        }


        a {
            width: 30px;
            display: flex;
            align-items: center;

            img {
                width: 100%;
                display: block;
                height: 30px;

            }
        }

        .phones {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;

            a {
                display: block;
                width: 100%;
                color: white;
                font-weight: bold;
                font-family: 'Montserrat';
            }
        }

        .eightsix {
            img {
                width: 86%;

            }
        }
    }
}