/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

body {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Raleway", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.banner {
    background: url("assets/CAPA_PRINCIPAL.png");
    height: 100vh;

    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

    header {
        padding: 60px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            display: flex;
            gap: 5px;

            a {
                padding: 0 10px;
                color: white;
                font-size: 20px;
                text-shadow: 0px 0px 15px #00000052;
            }
        }

        .social-media {
            display: flex;
            gap: 20px;

        }
    }

    .waves {
        position: absolute;
        bottom: 0;
        bottom: -5px;
        left: -9px;
    }
}

.title {
    font-size: 40px;
    color: #2E2320;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.subtitle {
    font-size: 18px;
    color: #2E2320;
    line-height: 23px;
}

.section {
    padding: 140px 0;
}

.about {
    .container {
        display: flex;

        .left-side {
            flex: 0 0 50%;
            display: flex;
            justify-content: center;
        }

        .right-side {
            flex: 0 0 50%;
            padding: 0 25px;

            display: flex;

            flex-direction: column;
            align-items: flex-start;

            .title {
                text-align: left;
            }

            .buttons {
                display: flex;
                gap: 20px;
                width: 100%;
                margin-top: 15px;

                a {
                    font-size: 18px;
                    font-weight: 500;
                    color: white;
                    padding: 10px 15px;
                    border-radius: 2px;
                    background-color: #111111;

                }
            }
        }
    }
}

.our-team {
    padding-top: 0;

    .team {
        display: flex;
        margin-top: 60px;

        .person {
            padding: 0 25px;
            text-align: center;
            flex: 0 0 33.33%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-size: 20px;
                margin-top: 15px;
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                line-height: 23px;
                color: #4E4D52;
            }
        }
    }

}

.clinic {
    background: url("assets/bg1.png");
    background-color: #F6F6F6;

    .info-1 {
        display: flex;
        justify-content: center;
        margin-top: 70px;

        .left-side {
            flex: 0 0 40%;
            display: flex;
            justify-content: center;
        }

        .right-side {
            flex: 0 0 35%;

            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;

        }



    }

    .divider {
        margin: 0 auto;
        display: block;
        width: 700px;
        height: 1px;
        border-bottom: 1px solid #7070705b;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .info-2 {
        display: flex;
        justify-content: center;
        flex: 1;

        margin: 0 auto;

        .title {
            text-align: center;
        }


        max-width: 900px;

        .right-side {
            flex: 1;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cards {
            display: flex;
            margin: 0 auto;
            margin-left: 20px;

            .card {
                padding: 30px 25px;
                background-color: rgba(255, 255, 255, 0.363);
                border-radius: 7px;
                margin-right: 15px;
                flex: 1;

                h3 {
                    font-weight: bold;
                    color: #271D1B;
                    margin-bottom: 15px;
                }

                p {
                    color: #271D1B;
                    font-size: 16px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}